html
    head
        meta(name="description", content= page_description)
        meta(name="keywords", content= page_keywords)
        title= seo_title
        link(type="text/css", href="/assets/styles.css",rel="stylesheet")

    body
        .wrapper
            h1= title
            p Page id:
                strong= page_id

            each entry in content
                div
                    h3= entry.name
                    p= entry.content
